# Dependencies
node_modules/
/.pnp
.pnp.js
yarn.lock
package-lock.json

# Testing
/coverage

# Production
/build
/dist

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# MongoDB
data/
dump/

# Uploads
uploads/
/public/uploads/

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.cache/
../../docs/** /*
